
@font-face {
    font-family: Circe;
    font-weight: bold;
    src: url("../fonts/Circe-Bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700&subset=cyrillic,cyrillic-ext');

/*myst*/
.first-block-content-tel{
	font-family: Circe;
	color: #fffefb;
	font-size: 26px;
	margin-top: 30px;
	display: inline-block;
	margin-bottom: 43px;
	border-bottom: 1px dashed;
	text-decoration: none;
	line-height: 1;
}
/*myst*/
body{
	position: relative;
}
html , body ,*{
	-webkit-overflow-scrolling: touch;
}
.off-scroll{
    overflow: hidden;
}
.step-three-button.pay_btn:after{
	display: none!important;
}
.step-three-button.pay_btn{
	margin: auto;
	display: table !important;
	font-size: 20px;
	padding: 18px 83px;
	margin-top: 40px;
}
.not-valid{
    position: absolute;
    bottom: 100%;
    left: 0;
    display: block;
    font-size: 14px !important;
    width: 100%;
    text-align: center;
    text-shadow: rgba(0,0,0,0.5) 0px 1px;
    margin: 0;
    line-height: 1 !important;
}
.not-valid + input{
	/*box-shadow: 0 0 16px rgba(215, 47, 105, 0.71) !important;*/
	box-shadow: none !important;
	border: 1px solid rgba(249, 0, 146, 1) !important;
}
.callback-block .not-valid + input{
	box-shadow: 0 0 16px rgba(215, 47, 105, 0.71) !important;
}
.step-one-form-content p.not-valid{
	color: rgba(249, 0, 146, 0.9) !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px !important;
	text-align: left;
	top: -14px;
	text-shadow: none;
	bottom: auto;
}
.block form label{
	position: relative;
	display: block;
} 
.big-block{
	width: 100%;
	display: inline-block;
}
.block{
	max-width: 1070px;
	margin: auto;
}
.header{
	padding: 28px 0;
	position: absolute;
	top: 0;
	z-index: 2;
}
.header a{
	text-decoration: none;
}
.header .block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.header-content{
	margin-left: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.header-logo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.header-logo-img svg{
	width: 100%;
    height: 100%;
    max-width: 120px;
}
.header-logo-about{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
.header-logo-about p{
	font-weight: 600;
	font-size:15px;	
}
.header-logo-about:before{
	height: 49px;
	min-width: 1px ;
	background: white;
	content:'';
	display: block;
	margin: 0 11px;
}
.header-content a{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 500;
}
.header-content .header-content-callback{
	height: 43px;
	border-radius: 4px;
	border: 1px solid #ffffff;
	padding: 15px 21px;
	color: #ffffff;
	font-weight: 700;
	line-height: 12px;
	margin-left: 19px;
}
.header-content .header-content-callback:hover{
    background: #FFFFFF;
    color: #472EB4;
}
.header-content .header-content-tel{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-left: 17px;
	display: none;
}
.header-content .header-content-icon{
	margin-left: 12px;
}
.header-content .header-content-icon .fa{
	font-size: 16px;
}
.header-content .header-content-link{
	margin-left: 14px;
	margin-right: 6px;
}
.step-one{
	position: relative;
	border: 1px solid #979797;
	background-image: -webkit-linear-gradient(bottom, #4f32b3 0%, #884ec6 100%);
	background-image: -o-linear-gradient(bottom, #4f32b3 0%, #884ec6 100%);
	background-image: linear-gradient(to top, #4f32b3 0%, #884ec6 100%);
	/*background-image: url("../img/bgc.svg");
	background-size: cover;
	border-bottom: 0;
	background-repeat: no-repeat;*/
}
.step-one:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/bgc-without-bg.svg");
	background-size: cover;
	border-bottom: 0;
	background-repeat: no-repeat;
}
.step-one .block:before{
    width: 100%;
    height: 100%;
    top: -6px;
    right: -102px;
    position: absolute;
    content: '';
    background-image: url("../img/ovals.svg");
    background-repeat: no-repeat;
    -webkit-background-size: 668px 668px;
    background-size: 668px 668px;
    opacity: 0.08;
    background-position: right bottom;
}
.step-one .block{
	padding-top: 157px;
	padding-bottom: 112px;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}
.step-one .block>*{
	position: relative;
	z-index: 1;
}
.step-one-about{
	margin-top: 12px;
}
.step-one-about>p{
	color: #ffffff;
	font-family: Circe;
	font-size: 42px;
	font-weight: 700;
}
.step-one-about li{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.step-one-about-icon{
	min-width: 22px;
    margin-right: 9px;
    display: inline-block;
    text-align: right;
}
.step-one-about p{
	font-weight: 300;
}
.step-one-form{
	max-width: 340px;
	-webkit-flex: 1 1 ;
	-moz-flex: 1 1 ;
	-ms-flex: 1 1 ;
	-o-flex: 1 1 ;
	flex: 1 1 ;
	margin-right: 42px;
	position: relative;
}
.step-one-form:before{
	position: absolute;
	content: '';
	top: 50%;
	-webkit-transform: translateX(-100%) translateY(-50%);
	-ms-transform: translateX(-100%) translateY(-50%);
	-o-transform: translateX(-100%) translateY(-50%);
	transform: translateX(-100%) translateY(-50%);
	left: -79px;
	background-image: url(../img/step-one-arrow.png);
	-webkit-background-size: cover;
	background-size: cover;
	width: 53px;
	height: 40px;
}
.step-one-form>div{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-o-align-items: flex-end;
	align-items: flex-end;
}
.step-one-form-number{
	color: #ffffff;
	font-family: Circe;
	font-size: 28px;
	font-weight: 700;
}
.step-one-form-instructions{
	max-width: 215px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
}
.step-one-form form{
	max-width: 329px;
	box-shadow: 0 2px 45px rgba(0, 0, 0, 0.12);
	border-radius: 6px;
	margin-top: 18px;
    overflow: auto;
}
.step-one-form-up{
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 20px 30px 16px 30px;
	background-image: -webkit-linear-gradient(289deg, rgba(108, 69, 197, 1) 0%, rgba(139, 88, 210, 1) 100%);
	background-image: -o-linear-gradient(289deg, rgba(108, 69, 197, 1) 0%, rgba(139, 88, 210, 1) 100%);
	background-image: linear-gradient(19deg, rgba(108, 69, 197, 1) 0%, rgba(139, 88, 210, 1) 100%);	
}
.step-one-form-up:before{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    background-image: url("../img/rocket.svg");
    background-repeat: no-repeat;
    -webkit-background-size: 110px 110px;
    background-size: 180px 180px;
    opacity: 0.04;
    background-position: -50px -50px;
}
.step-one-form-up p{
	text-align: center;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 25px;
	font-weight: 500;
}
.step-one-form-up b{
	font-weight: 700;
}
.step-one-form-content{
	padding: 27px 25px 16px 32px;
	background: #fff;
}
.step-one-form-content li{
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	margin-bottom: 15px;
	position: relative;
	padding-left: 28px;

}
.step-one-form-content li:before{
	content: "\f00c";
	font-family: fontawesome;
	left: 0;
	position: absolute;
	width: 16px;
	height: 16px;
	color: #9b00bc;
}
.step-one-form-content p {
	margin-top: 7px;
}
.step-one-form-content p span{
	color: #8e8e8e;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
}
.step-one-form-content input[type="tel"]{
	width: 100%;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.35);
	border-radius: 4px;
	border: 1px solid #c3c3c3;
	background-color: #eeeeee;
	color: #5c5c5c;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding: 15px 18px;
	margin-top: 9px;
	outline: 0;
}
.step-one-form-content button[type="submit"]{
	width: 100%;
	outline: none;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(#ffb500 0%, #ffab00 100%);
	background-image: -o-linear-gradient(#ffb500 0%, #ffab00 100%);
	background-image: linear-gradient(#ffb500 0%, #ffab00 100%);
	border: 0;
	border-bottom: 4px solid #c5730f; 
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 16px 17px 14px 47px;
	margin-top: 13px;
	position: relative;
}
.step-one-form-content button[type="submit"]:before{
	content: '';
	background-image: url(../img/rocket.png);
	width: 24px;
	height: 24px;
	position: absolute;
	left: 14px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.step-one-form-content button[type="submit"]:hover{
	background-image: -webkit-linear-gradient(#ffc500 0%, #ffbb00 100%);
	background-image: -o-linear-gradient(#ffc500 0%, #ffbb00 100%);
	background-image: linear-gradient(#ffc500 0%, #ffbb00 100%);
    border: 0;
    border-bottom: 4px solid #c6730f;

}
.step-one-form-content button[type="submit"]:active{
	border-bottom: 0px solid #c5730f;
	padding: 18px 17px 16px 47px;
}
.step-one-form-content button[type="submit"]:active:before{
	top: calc(50% + 1px);
}
.next-step-arrow{
	z-index: 2;
	position: absolute !important;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	-o-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
	width: 91px;
	height: 91px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
	background-color: #ffffff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	border-radius: 50%;
}
.next-step-arrow div{
	border-radius: 50%;
	width: 61px;
	height: 61px;
	border: 1px solid #e6e6e6;
	position: relative;
}
.next-step-arrow div:before{
	font-family: fontawesome;
    content: "\f175";
    font-size: 22px;
    color: #bbbbbb;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.step-two{
	position: relative;
	background-image: url(../img/step-two.svg);
	/*-webkit-background-size: cover;
	background-size: cover;*/
	background-position: center 250px;
	background-repeat: no-repeat;
}
.step-two .block{
	max-width: 1170px;
	padding-top: 65px;
	padding-bottom: 116px;
}
.step-two h2{
	color: #000000;
	font-family: circe;
	font-size: 26px;
	text-align: center;
	line-height: 1.4;
}
.step-two h2 span{
	margin-bottom: 15px;
	display: inline-block;
	font-size: 31px
}
.step-two-packs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	margin-top: 157px;
}
.step-two-pack{
	width: 356px;
	box-shadow: 0 2px 33px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	background-color: #ffffff;
	text-align: center;
	padding-bottom: 35px;
}
.step-two-big-pack{
	width: 404px;
	box-shadow: 0 2px 63px rgba(0, 0, 0, 0.17);
	border-radius: 16px;
	background-color: #ffffff;
	text-align: center;
}
.step-two-big-pack {
	position: relative;
	padding-bottom: 35px
}
.step-two-pack-up{
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	-o-transform: translate(-50% , -50%);
	transform: translate(-50% , -50%);
	color: #ffffff;
	font-family: Circe;
	font-size: 15px;
	font-weight: 700;
	padding: 9px 20px 7px 20px;
	box-shadow: 0 0 27px rgba(126, 211, 33, 0.17);
	border-radius: 66px;
	background-color: #7ed321;
}
.step-two-pack-img{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	padding: 32px 0;
}
.step-two-big-pack .step-two-pack-img{
	padding: 47px 0;
	background-image: url(../img/stars.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.step-two-pack-img img{
	padding: 8px;
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.07);
	background-color: #ffffff;
	border-radius: 50%;
}
.step-two-pack-name{
	color: #262626;
	font-family: Circe;
	font-size: 19px;
	font-weight: 700;
	text-align: center;	
}
.step-two-big-pack 
.step-two-pack-name{
	font-size: 25px;
}
.step-two-pack-about{
	margin-top: 15px;
	color: #4d4d4d;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}
.step-two-big-pack .step-two-pack-about{
	font-size: 17px;
}
.step-two-pack ul{
	margin-top: 12px;
}
.step-two-big-pack ul{
	margin-top: 19px;
}
.step-two-pack li,
.step-two-big-pack li{
	color: #5c5c5c;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
    line-height: 23px;
    margin: 5px 0;
	text-align: center;
}
.step-two-pack li:before,
.step-two-big-pack li:before{
	    font-family: fontawesome;
	content: "\f00c";
	display: inline-block;
	margin-right: 8px;

}
.step-two-big-pack li.step-two-pack-plus:before{
	content: '+';
	width: 13px;
	height: 30px;
	color: #44c81f;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 600;
	background: transparent;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
}
.step-two-pack-button{
	border-radius: 100px;
	border: 2px solid #353535;
	color: #181818;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 700;
	padding:15px 30px;
	margin: auto;
	display: inline-block;
	margin-top: 30px;
    line-height: 1;
	text-decoration: none;
}
.step-two-pack-button:hover{
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.16)
}
.step-two-pack-button:after{
	content: "\f054";
	    font-family: fontawesome;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: -2px;
}
.step-two-pack-price{
	color: #262626;
	font-family: Circe;
	font-size: 15px;
	font-weight: 700;
	margin-top: 17px;
	display: none;
}
.step-two-pack-icon{
	margin-top: 10px;
}
.step-two-pack-icon .fa{
	margin:0 4px; 
}
.step-two-pack-icon .fa-instagram{
	color: #ff0090;
}
.step-two-pack-icon .fa-facebook{
	color: #5500f3;
}
.step-two-pack-icon img{
	margin:0 3px;
}
.step-two-big-pack .step-two-pack-button{
	box-shadow: 0 2px 31px rgba(249, 0, 146, 0.32);
	border-radius: 100px;
	background-color: #f90092;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 700;
	padding: 15px 40px;
	border: 0;
}
.step-two-big-pack  .step-two-pack-button:hover{
	box-shadow: 0 5px 31px rgba(249, 0, 146, 0.5);
}
.step-two-big-pack .step-two-pack-button:after{
	content: "\f054";
	    font-family: fontawesome;
}
.step-two-pack-prices{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	max-width: 252px;
	margin: auto;
	text-align: left;
	margin-top: 30px;
	display: none;
}
.step-two-pack-prices img{
	-webkit-align-self: center; 
	-moz-align-self: center; 
	-ms-align-self: center; 
	-o-align-self: center; 
	align-self: center; 

}
.step-two-pack-prices-block p{
	color: #676767;
	font-family: Circe;
	font-weight: 700;
	line-height: 34px;
	font-size: 20px;
}
.step-two-pack-prices-block span{
	font-size: 17px;
}
.step-two-pack-prices-block-super{
	position: relative;
}
.step-two-pack-prices-block-super p{
	color: #262626;
	font-family: Circe;
	font-weight: 700;
	line-height: 34px;
	font-size: 20px;
}
.step-two-pack-prices-block-super span{
	font-size: 17px;
}
.step-two-pack-prices-block-super .step-two-pack-prices-sale{
    margin-top: -1px;
    color: #59e20d;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    bottom: 8px;
    left: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    width: 115px;
}
.step-two-pack-prices-block-super hr{
	width: 84px;
	height: 2px;
	background-color: #292929;
	margin: 0;
}
.step-two-pack-prices-block hr{
	width: 74px;
	height: 2px;
	background-color: #818181;
	margin: 0;
}
.step-three{
	padding-top: 115px;
	padding-bottom: 105px;
	text-align: center;
	position: relative;

}
.step-three-number{
	color: #141414;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
}
.step-three h2{
	color: #000000;
	font-family: Circe;
	font-size: 31px;
	font-weight: 700;
	margin-top: 8px;
}
.step-three-about{
	font-family: Circe;
	font-size: 23px;
	font-weight: 700;
	color: #494949;
    margin-top: 37px;
}
.step-three-about span{
	color: #fd9f09;
	font-weight: 700;
}
.step-three-button{
	margin-top: 61px;
	box-shadow: 0 2px 31px rgba(0, 0, 0, 0.18);
	border-radius: 100px;
	background-color: #f90092;
	text-decoration: none;
	display: inline-block;
	color: #ffffff;
	font-family: Circe;
	font-size: 16px;
	font-weight: 700;
	padding: 18px 63px;
	line-height: 23px;
}
.step-three-button:hover{
	box-shadow: 0 5px 31px rgba(249, 0, 146, 0.5);
}
.step-three-button:after{
	content: "\f040";
	font-family: fontawesome;
	display: inline-block;
	margin-bottom: -5px;
	margin-left: 15px;
}
.step-three-small{
	color: #535353;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 300;
	margin-top: 14px;
}
.step-four{
	background-image: url(../img/step-four.svg);
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 90px;
	padding-bottom: 140px;
    position: relative;
}
.step-four > .block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.step-four-left,
.step-four-right{
	-webkit-flex: 1 1 50%;
	-moz-flex: 1 1 50%;
	-ms-flex: 1 1 50%;
	-o-flex: 1 1 50%;
	flex: 1 1 50%;
	width: 50%;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}
.step-four-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 60px;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.step-four-right > p{
	width: 100%;
	color: #cec6e7;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	margin-top: 20px;
}
.step-four-number{
	color: #ffffff;
	font-family: Circe;
	font-size: 25px;
	font-weight: 700;
}
.step-four-about{
	color: #cec6e7;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	margin-top: 36px;
	max-width: 500px
}
.step-four-left h2{
	color: #ffffff;
	font-family: Circe;
	font-size: 42px;
	font-weight: 700;
	line-height: 53px;
	margin-top: 34px;
}
.step-four-button{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 700;
	padding: 18px 30px;
	border: 2px solid #ffffff;
	text-decoration: none;
	margin-top: 31px;
    display: inline-block;
}
.step-four-button:hover{
    background: #FFFFFF;
    color: #472EB4;
}
.step-four-treaty-img img{
	display: inline-block;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
	border: 7px solid rgba(0,0,0,0.15);
	border-radius: 3px;
}
.step-four-treaty p>b{
	color: #ffffff;
	font-family: Circe;
	font-size: 16px;
	font-weight: 700;
	margin-top: 6px;
	display: inline-block;
}
.step-four-treaty p{
	color: #cdc1f6;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	max-width: 131px;
	display: inline-block;
	margin: auto;
	margin-top: 8px;
}
.step-four-treaty{
	text-align: center;
}
.step-finish{
	padding-top: 110px;
	position: relative;
}
.step-finish .block h2{
	color: #000000;
	font-family: Circe;
	font-size: 31px;
	font-weight: 700;
	text-align: center;
}
.step-finish .block p{
	color: #272727;
	font-family: Circe;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	margin-top: 29px;
}
.step-finish-card{
	margin-top: 51px;
}
.step-finish-card-p{
	margin-top: 87px;
	position: relative;
	display: none;
}
.step-finish-card-img{
    padding-right: 3%;
    display: none;
}
.step-finish-card-p p{
	color: #3b3b3b;
	font-family: 'Open Sans', sans-serif;
	font-size: 31px;
	font-weight: 300;
	display: inline-block;
	text-align: center;
	width: 275px;
	line-height: 1.17;
}
.step-finish-card-content p{
	color: #3b3b3b;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 27px;
    text-align: center;
}
.step-finish-card{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	position: relative;
	align-items: flex-start;
}
.step-finish-card:before{
	left: 0;
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	top: 186px;
	background-color: #272727;
	z-index: -1;
	display: none;
}
.step-finish-card-p:after{
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #272727;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -31px;
}
.step-finish-card-bank{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}
.step-finish-card-bank img{
	margin-top: 15px;
	max-height: 50px;
	max-width: 100px;
	margin: 20px 15px 0 15px;
}
.step-finish-card-bank img:last-child{
	max-height: 60px;
	max-width: 150px
}

.our_works{
	margin-top: 60px;
}
.about-us{
	padding-top: 125px;
    text-align: center;
    position: relative;
}
.step-three:before, .step-finish:before{
	width: 100%;
    height: 100%;
    top: -80px;
    left: 0;
    position: absolute;
    content: '';
    background-image: url(../img/oval.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 668px 668px;
    background-size: 668px 668px;
    /*opacity: 0.03;*/
    background-position: center top;
    z-index: -1;
}
.step-finish:before{
	top: 70px;
	background-size: contain;
}
.step-three:before{
	top: 80px;
}
.about-us .block > h2{
	color: #000000;
	font-family: Circe;
	font-size: 31px;
	font-weight: 700;
	text-align: center;
}
.about-us .block > p{
	color: #5f5f5f;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 27px;
	text-align: center;
	margin-top: 24px;
}
.about-us-reviews{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 28px;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.about-us-review{
	width:329px;
	max-width: 100%;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	background-color: #ffffff;
	text-decoration: none;
	text-align: left;
	margin-top: 20px;
}
.review-img{
	height: 153px;
	position: relative;	
}
.review-content{
	padding: 18px 25px 30px 25px;
}
.review-title{
	color: #000000;
	font-family: Circe;
	font-size: 16px;
	font-weight: 700;
}
.review-text{
	margin-top: 8px;
	color: #b8b8b8;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
}
.review-autor{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	padding: 9px 9px 9px 27px;
	border-top: 1px solid #eaeaea;
}
.review-autor-img{
	margin-right: 15px;
}
.review-autor-name {
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
}
.about-us-button-more{
	padding: 25px;
	width: 250px;
	color: #2f2f2f;
	font-family: Circe;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	margin: auto;
	margin-top: 25px;
	text-align: center;
}
.about-us-button-more img{
	margin-right: 6px;
}
.review-img:before{
	bottom: 0px;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	right: 27px;
	position: absolute;
	content: '';
	width: 71px;
	height: 71px;
	background-color: #fff;
	border-radius: 50%;
}
.review-img:after{
	bottom: 0;
	-webkit-transform: translateY(50%) rotate(90deg);
	-ms-transform: translateY(50%) rotate(90deg);
	-o-transform: translateY(50%) rotate(90deg);
	transform: translateY(50%) rotate(90deg);
	right: 33px;
	position: absolute;
	content: '';
	width: 59px;
	height: 59px;
	border-radius: 50%;
	background-repeat: no-repeat;
	border: 1px solid #f0f0f0;
	background-color: white;
	background-image: url(../img/triangle-1.svg);
	-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	background-position: center center;
}
.about-us-review:hover  .review-img:after{
	background-image: url(../img/triangle-2.svg);
	-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	box-shadow: 0 0 12px rgba(249, 0, 146, 0.3);
	border:none;
	background-color: #f90092;
}
.about-us-review-hidden{
	display: none;
}
.faq-block {
	padding-top: 67px;
	padding-bottom: 97px;
}
.faq_single_title{
	font-family: Circe;
	font-size: 23px;
	font-weight: 700;
	color: #494949;
	margin: 16px 0;
}
.faq-block  h2{
	font-family: Circe;
	font-size: 31px;
	font-weight: 700;
}
.faq-title{
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
}
.faq-text{
	color: #747474;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	display: none;
}
.faq-text ul li{
	margin: 5px 0;
}
.faq-text b{
	font-weight: 700;
}
.three_column{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 28px;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.three_column ul{
	width: 329px;
	max-width: 100%;
}
.three_column ul li.first{
	font-family: Circe;
	font-size: 18px;
	font-weight: 700;
	color: #494949;
	margin: 0 0 8px 0;
	border-bottom: 1px dashed;
	display: inline-block
}
.faqs{
	counter-reset: list 0;
	padding-top: 50px;
}
.faq{
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: #ffffff;
	margin-bottom: 18px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.faq-title{
	position: relative;
	padding: 22px 10px 22px 35px;
	counter-increment: list;
}
.faq-text{
	border-top: 1px solid #f1f1f1;
	    padding: 16px 35px 26px 35px;
}
.faq-title:before{
	content: counter(list);
	left: 0;
	top: 50%;
	position: absolute;
	width: 22px;
	height: 22px;
	box-shadow: 0 0 19px rgba(249, 0, 146, 0.66);
	border-radius: 12px;
	background-color: #f90092;
	text-align: center;
	-webkit-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	-o-transform: translate(-50% , -50%);
	transform: translate(-50% , -50%);
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-size: 11px;
	line-height: 22px;
	font-weight: 700;
} 
.faq-hide .faq-text{
	display: none;
}
.callback-block {
	padding-top: 59px;
	padding-bottom: 122px;
	background-image: url(../img/callback.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.callback-block h2{
	color: #ffffff;
	font-family: Circe;
	font-size: 31px;
	font-weight: 700;
	text-align: center;
}
.callback-block p{
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-size: 19px;
	font-weight: 400;
	line-height: 32px;
	text-align: center;
	margin: auto;
	margin-top: 17px;
}
.callback-block input[type="text"],
.callback-block input[type="tel"]{
	color: #5b5b5b;
	font-family: Circe;
	font-size: 16px;
	font-weight: 700;
	width: 295px;
	height: 56px;
	border-radius: 50%;	
	padding: 15px 25px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
	border-radius: 89px;
	background-color: #ffffff;
	border: 0;
	outline: 0;
	margin: 10px 18px;
}
.callback-block button[type="submit"]{
	width: 214px;
	height: 56px;
	box-shadow: 0 2px 31px rgba(0, 0, 0, 0.32);
	border-radius: 100px;
	background-color: #f90092;
	color: #ffffff;
	font-family: Circe;
	font-size: 16px;
	font-weight: 700;
	border:0;
	outline: 0;
	margin: 10px 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;	
}
.callback-block button[type="submit"]:hover{
	box-shadow: 0 5px 31px rgba(0, 0, 0, 0.62);
}
.callback-block button[type="submit"] p{
	margin-top: 0;
	margin-bottom: 2px;
	line-height: 17px;
}
.callback-block button[type="submit"] span{
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-size: 23px;
	font-weight: 400;
	margin-right: 8px;
}
.callback-block  form{
	margin-top: 76px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}
.footer{
	padding:40px 0; 
}
.footer .block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.footer-section-small{
	width: 200px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.footer-section-small a{
	color: #b3b3b3;
	font-family: Circe;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
}
.footer-section-big{
	-webkit-flex: 1 1;
	-moz-flex: 1 1;
	-ms-flex: 1 1;
	-o-flex: 1 1;
	flex: 1 1;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}
.footer-links{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}
.footer-section-big p{
	color: #b4b4b4;
	font-family: Circe;
	font-size: 17px;
	font-weight: 700;
}
.footer-links a{
	margin-left: 22.5px;
	margin-right: 22.5px;
	color: #2e2e2e;
	font-family: Circe;
	font-size: 17px;
	font-weight: 700;
	text-decoration: none;
}
.footer-section-small:last-child a{
	margin-bottom: 15px;
}
.footer-section-small:last-child a:last-child{
	margin-bottom: 0;
}
.footer-section-small:last-child {
	text-align: right;
}
.footer-section-small:first-child{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}
.footer-section-small svg{
	width: 120px;
	height: 60px;
}
.owl-carousel{
	margin-top: 30px;
}
.owl-dot {
    width: 15px;
	height: 15px;
	margin: 10px 7px;
	box-shadow: 0 0 8px rgba(163, 161, 165, 0.89);
    border-radius: 12px;
    background-color: #fcfcfc;
    display: inline-block;
}
.owl-dot.active{
	background: #f90092;
	box-shadow: 0 0 8px rgba(249, 0, 146, 0.66);
}
.owl-dots{
	margin-top: 15px;
	text-align: center;
}
.owl-item{
	/*box-shadow: 0 0px 30px rgba(0, 0, 0, 0.06);*/
	max-height: 540px;
	text-align: center;
}
.owl-carousel .owl-item img{
	max-width: 340px;
	display: inline-block;
	border: 1px solid #dedede;
}
.owl-item a{
	width: 100%;
	height: 100%;
	text-align: center;
}
.pop{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	z-index: 300;
	padding: 10px;
}
.pop.active{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.pop-content{
	max-width: 100%;
	width: 498px;
	box-shadow: 0 2px 67px rgba(0, 0, 0, 0.28);
	border-radius: 9px;
	background-color: #ffffff;
	padding: 60px 60px 40px 60px;
	position: relative;
	z-index: 600
}
#video-pop .pop-content{
	width: 768px;
	padding: 40px;
}
#video-pop .pop-close{
	top: 12px;
	right: 12px;
}
#privat-pop b.number{
	color: #000000;
	font-family: Circe;
	font-size: 20px;
	text-align: center;
}
.pop-content iframe{
	height: 400px;
	width: 100%;
}
.pop-close{
	position: absolute;
	width: 19px;
	height: 19px;
	top: 18px;
	right: 18px;
	cursor: pointer;
	background: white;
}
.pop-handler-close{
	position: absolute;
	z-index: 500;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.pop-close:before{
	width: 100%;
	height: 2px;
	display: block;
	content: "";
	background-color: #000000;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: -1px 5px;
	-moz-transform-origin: -1px 5px;
	-ms-transform-origin: -1px 5px;
	-o-transform-origin: -1px 5px;
    transform-origin: -1px 5px;
}
.pop-close:after{
	width: 100%;
	height: 2px;
	display: block;
	content: "";
	background-color: #000000;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 17px 5px;
	-moz-transform-origin: 17px 5px;
	-ms-transform-origin: 17px 5px;
	-o-transform-origin: 17px 5px;
    transform-origin: 17px 5px;
}
.pop-content h2{
	color: #000000;
	font-family: Circe;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
}
.pop-content p{
	color: #3a3a3a;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 15px;
	display: inline-block;
    width: auto;
}
.pop-content .not-valid{
	color: #f90092;
	text-align: right;
	text-shadow: none;
	margin: 0;
	bottom: auto;
	top: 20px;
	font-size: 12px !important;
	position: absolute;
}
.pop-content small{
	color: #797979;
	font-family: "Open Sans", sans-serif;
	font-size: 11px;
	font-weight: 400;
}
.pop-content button{
	width: 244px;
	line-height: 48px;
	box-shadow: 0 2px 31px rgba(249, 0, 146, 0.32);
	border-radius: 100px;
	background-color: #f90092;
	border: 0;
	outline: 0;
	display: block;
	margin: auto;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 700;
	margin-top: 30px;
}
.pop-content input{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #c8c8c8;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 13px;
	padding-bottom: 12px;
	font-family: Circe;
	font-size: 14px;
	font-weight: 500;
}


.pop-content input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #c8c8c8;
}
.pop-content input::-moz-placeholder { /* Firefox 19+ */
color: #c8c8c8;
}
.pop-content input:-ms-input-placeholder { /* IE 10+ */
color: #c8c8c8;
}
.pop-content input:-moz-placeholder { /* Firefox 18- */
color: #c8c8c8;
}	

.pop-content form{
	margin-top: 9px;
}
.pop-content label{
	margin-top: 24px;
	display: block;
    position: relative;
}
@media (min-width: 1440px) {
	.step-two{
	background-size: cover;
	}
}
@media (max-width: 1300px) {
	.step-one .block:before{
		display: none;
	}
}
@media (max-width: 1200px) {
	.block{
		padding: 0 10px;
	}
	.faq{
		margin-left: 17px;
	}
}
@media(max-width: 1100px){
	.step-two{
		background-size: cover;
	}
}
@media (max-width: 1025px) {
	.footer .block{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	    -webkit-justify-content: space-around;
	    -moz-justify-content: space-around;
	    -ms-justify-content: space-around;
	    -o-justify-content: space-around;
	    justify-content: space-around;
	}
	.step-finish-card-bank{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.footer-section-big{
		width: 100%;
		-webkit-flex: 1 1 100%;
		-moz-flex: 1 1 100%;
		-ms-flex: 1 1 100%;
		-o-flex: 1 1 100%;
		flex: 1 1 100%;
		order: -1;
		margin-bottom: 10px;
	}
	.about-us-reviews{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.about-us-review{
		margin: 10px;
	}
	.step-one-form:before{
		display: none;
	}
	.step-one .block{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		-ms-justify-content: space-around;
		-o-justify-content: space-around;
		justify-content: space-around;
	}
	.step-one-form{
		width: 340px;
    	max-width: 100%;
    	-webkit-flex:  0 1 340px;
    	-moz-flex:  0 1 340px;
    	-ms-flex:  0 1 340px;
    	-o-flex:  0 1 340px;
    	flex:  0 1 340px;
    	margin-right:0;
	}
	.step-two-packs{
		-webkit-flex-wrap: wrap-reverse;
		-moz-flex-wrap: wrap-reverse;
		-ms-flex-wrap: wrap-reverse;
		-o-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
    	-webkit-justify-content: space-around;
    	-moz-justify-content: space-around;
    	-ms-justify-content: space-around;
    	-o-justify-content: space-around;
    	justify-content: space-around;
    	-webkit-align-items: flex-start;
    	-moz-align-items: flex-start;
    	-ms-align-items: flex-start;
    	-o-align-items: flex-start;
    	align-items: flex-start;
	}
	.step-two-big-pack{
	    order: 9;
	    margin-top: 50px;
	}
	.step-two-pack{
		margin-top: 20px;
	}
}
@media (max-width: 900px) {
	.owl-carousel .owl-item img{
		max-width: 300px
	}
	.step-one .block:before{
		display: none;
	}
	.step-four > .block{
		display: block;
	}
	.step-finish-card{
		padding: 0 10px;
	}
	.step-four-left, .step-four-right{
		width: 100%;
	    text-align: center;
	}
	.step-four-about{
		max-width: 100%;
	}
	.faq-block h2{
		text-align: center;
	}
	.step-four-right{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		-ms-justify-content: space-around;
		-o-justify-content: space-around;
		justify-content: space-around;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.step-four-treaty{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin: 10px;
	}
	.step-finish-card-p{
		display: none;
	}
	.step-finish-card:before{
		display: none;
	}
	.callback-block form{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 100%;
    	width: 500px;
	}
	.not-valid{
		position: static;
	}
	.callback-block button[type="submit"]{
		width: 100%;
		 margin: 10px 0px;
	}
	.callback-block input[type="text"], .callback-block input[type="tel"]{
		width: 100%;
	    margin: 10px 0px;
	    text-align: center;
	}
	.header-logo-about{display: none;}
}
@media (max-width: 880px) {
	.step-one-about{
		margin-top: 0;
		margin-bottom: 20px;
	}
	.about-us .block > p br,
	.step-finish .block p br{
		display: none;
	}
	.step-one-about>p{
		text-align: center;
	}
	.step-one-about>ul{
	    max-width: 450px;
	    margin: auto;
	}
	.first-block-content-tel{
		display: table;
    	margin: 10px auto 20px auto;
	}
}
@media (max-width: 800px) {
	.about-us-reviews{
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		-ms-justify-content: space-around;
		-o-flex: justify-content: space-around;
		justify-content: space-around;
	}
}
@media (max-width: 650px) {
	.footer-section-small:last-child a{
		margin-bottom: 5px;
	}
	.header-content-link{
		display: none;
	}
	.footer-links{
		display: block;
	}
	/*.footer .block{
	    -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
	}*/
	.footer-links a{
		display: block;
		-webkit-flex: 1 1 33%;
		-moz-flex: 1 1 33%;
		-ms-flex: 1 1 33%;
		-o-flex: 1 1 33%;
		flex: 1 1 33%;
	    margin-top: 10px;
	}
	.footer-section-small a{
		margin: 5px;
	}
	.footer-section-small:first-child,
	.footer-section-small:last-child{
		text-align: center;
	}
	.callback-block p br{
		display: none;
	}
	.step-four-left{
		text-align: center;
	}
	.step-one-about>p{
		font-size: 24px
	}
	.step-two h2{
		font-size: 24px;
	}
	.step-two-packs{
		margin-top: 50px;
	}
	.step-three-number{
		font-size: 20px;
	}
	.step-three h2{
		font-size: 24px;
	}
	.step-three-about{
		font-size: 19px;
	}
	.step-four-left h2{
	    line-height: 33px;
		font-size: 24px;
	}
	.step-finish .block h2{
		font-size: 24px;
	}
	.about-us .block > h2{
		font-size: 24px;
	}
	.faq-block h2{
		font-size: 24px;
	}
	.callback-block h2{
		font-size: 24px;
	}
	.header-content .header-content-tel,
	.header-content .header-content-icon .fa{
		font-size: 20px;
	}
	.step-two-pack-up{
		width: 200px;
	}
	.step-one .block {
	    padding-top: 117px;
	}
	.pop.active{
		display: block;
	}
	.pop-content{
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 40px 10px 20px 10px;
	}
	.pop-close{
		top: 15px;
		right: 15px;
	}
	.pop-content h2{
		line-height: 1.3;
	}
	.pop-content label{
		margin-top: 20px;
	}
	.pop-content button{
		margin-top: 5px;
	}
	#video-pop .pop-content{
		padding: 40px 10px 10px;
	}
	.pop-content iframe{
		height: 300px;
	}
	.step-two h2{
		font-size: 22px;
	}
	.step-two h2 br{
		display: none;
	}
	.step-two h2 br:nth-child(2){
		display: block;
	}
}
@media (max-width: 465px) {
	.step-three-about br{
		display: none;
	}
	.step-one-form>div{
	    -webkit-flex-wrap: wrap;
	    -moz-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    -o-flex-wrap: wrap;
	    flex-wrap: wrap;
	    align-items: center;
	    -webkit-justify-content: space-around;
	    -moz-justify-content: space-around;
	    -ms-justify-content: space-around;
	    -o-justify-content: space-around;
	    justify-content: space-around;
	    text-align: center;
	}
	.step-one-form-content button[type="submit"]{
		font-size: 11px
	}
	.step-one-about>ul{
		padding: 0 25px;
	}
	.footer .block{
		display: block;
	}
	.footer-section-small{
		margin: auto;
	}
}
@media (max-width: 400px){
	.header-content .header-content-tel{
		font-size: 15px;
	}
	.header-content .header-content-callback{
		font-size: 12px;
		height: auto;
		padding: 10px 10px;
	}
}